.landing-container {
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url('../../img/CountriesLanding.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.landing-text {
    margin-right: 10px;
}

.button {
    border: none;
    border-radius: 0.5em;
    padding: 0.5rem 1rem;
    background-color: #e6e6e64d;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;
    color: inherit;
}

.landing-container .button{
    margin: 10rem;
    padding: 1rem;
    min-width: 5rem;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    border: 1px solid #bccbdc;
}

.button:hover {
    cursor: pointer;
    background-color: #f2f2f28e;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}