/* * {
    border: 1px solid black;
} */
.form-main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-start; */
    align-items: center;
    padding: 2rem;
    background-color: rgba(247, 234, 234, 0.1);
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease-in-out;
    width: auto;
    max-width: 30%;
    min-width: 25%;
    margin: 2rem;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 0.5rem;
    padding: 0.3rem;
}

.button-country {
    background-color: transparent;
    cursor: pointer;
    box-shadow: 3px 3px 3px 0px rgba(8, 88, 154, 0.63);
}

#button-create {
    margin-top: 2rem;
    width: 90%;
    padding: 0.8rem;
    font-size: 0.95rem;

}

.error {
    color: red;
    font-size: small;
    display: block;
    margin-top: 0.5rem;
    text-align: end;
    margin-right: 1rem;
}

.campo-form {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    width: 100%;
}

.campo-form label {
    margin-right: 0.5rem;
}

.label-input {
    display: flex;
    flex-direction: column;
}

.label-input label {
    margin-bottom: 0.5rem;
}